[Unit]
Description=goweb

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/ubuntu/cs490/middleware/server

[Install]
WantedBy=multi-user.target